@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;		
	background : $sub_color2 none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper{
	
}
.wrapper-header{
	width : $container_width + $container_padding + 10px;	
	margin : 0px auto;
}
.wrapper{
	width : $container_width + $container_padding + 10px;	
	margin : 0px auto;
	background-color: $sub_color2;
	padding: 30px 20px 70px 20px;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 20px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/* LAYOUT */

#top{	
	background : $main_color;
	line-height : 24px;
	color : #fff;
	a{ color : #fff; }
	.top-text{
		line-height : 24px;
		font-size: 13px;
		float : left;
	}
	.top-links{
		list-style: none;
		margin:0;
		padding: 0;
		float: right;
		li{
			display: inline-block;
			padding : 0px 15px;
			.fa{
				padding-right: 5px;				
				font-size: 10px;
			}
			a{
				font-size: 13px;
			}
		}
		li:last-child{
			padding: 0 0 0 15px;
		}
	}	
}

header{
	background : $sub_color2;
	padding: 23px 0;
	.header-content{
		.logo{
			float : left;
			width: 270px;
		}
		.header-tel{
			padding-left: 75px;
			float: left;
			width: 440px;
		}
		.header-fax{
			padding-left: 25px;
			float: left;
			width: 366px;
		}
		
	}
}

nav{
	background : $sub_color2 url('../img/common/header_navi_bg.jpg') repeat-x 0 0 scroll;	
	#gNavi{
		ul{
			list-style: none;
			margin : 0;
			padding : 0;
			li{  
				float : left;
				position: relative;
				a{
					display: block;
					text-align: center;
					line-height: 66px;
					color : #fff;
				}							
			}
			li.current > a{
				background : $sub_color1;				
			}
			li.current ul{
				display: block;
			}
			li:last-child{
				width: 140px !important;
			}
		}	
	}
}

#slider{	
	background : $sub_color2 url('../img/common/header_slider_bg.png') repeat-x 0 bottom scroll;
	.bx-wrapper{
		margin: 0;
		.bx-viewport{
			left : 0;
			border : none;
			box-shadow : none;
		}
		.bx-prev{
			left: -15px;
		}
		.bx-next{
			right: -15px;
		}
	}
}


#content{	
	background-color: $bg_color;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-220{
		.image{ width : 220px; }
		.text{ width : $primary_width - 220px - 20px; }
	}
	
	.message-reason375{	
		padding-top : 12px;	
		.image{ width : 375px; }
		.text{ 
			padding-top: 10px;
			width : $primary_width - 375px - 20px; 
		}
	}
	
	.message-375{			
		.image{ width : 375px; }
		.text{ 			
			width : $primary_width - 375px - 20px; 
		}
	}
	
	
	
	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-group.message-col375{
		.message-col{
			width: 375px;	
			margin-left: 10px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-group.message-col375{
		.message-col{
			width: 375px;	
			margin-left: 10px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-group.message-work375{
		.message-col{	
			padding: 2px;
			border: 1px solid #c8c8c8;
			width: 375px;	
			margin-left: 10px;	
			background-color: #f0f0f0;
			.work-title {
				background-color: $main_color;
				line-height: 37px;				
				font-size: 16px;
				padding-left: 17px;
				a{
					color: $sub_color2;
				}
			}
			.work-img{
				padding: 10px 17px 0 17px;
			}
			.work-text{
				padding: 10px 0 17px 17px;
			}
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-classic{
		.message-col{				
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

		
	.page-feature-content{	
		position : relative;	
		.feature-title{
			position: absolute;
			width: 260px;
			text-align: center;
			top: 100px;
			left: 40px;					
			font :{
				size: 34px;
				weight: bold;
			}
		}		
	}	

	.top-breadcrumb{				
		margin: 10px 0 30px;
		.home{
			color: $main_color;
			text-decoration: underline;
		}
	}


	/* heading */
	.h2-title{	
		line-height : 40px;
		padding-left : 30px;
		background : $sub_color2 url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 10px;
		font-size: 16px;
		color: $sub_color2;
	}
	
	.h3-title{
		line-height : 30px;
		padding-left : 17px;
		background : $sub_color2 url('../img/common/h3_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 10px;
		font-size: 16px;		
	}

	/* sideNavi */
	#sideNavi{
		border: 1px solid $main_color;		
		.sideNavi-content{
			border: 3px solid #dcf0ff;
			padding: 6px;
			list-style: none;
			margin : 0;			
			li{		
				border-top: 1px dotted #c8c8c8;
				a{
					display: block;
					line-height: 30px;					
					padding-left : 30px;															
					background : $sub_color2 url('../img/common/side_navi_icon.png') no-repeat 0 center scroll;									
				}
				a:hover{
					color: $main_color;
				}
				a:active{
					color: $main_color;
				}
			}
			li:last-child{
				border-bottom: 1px dotted #c8c8c8;
			}
		}
	}

	/*/////////// side-con ////////////*/
	.side-con{
		margin-top: -15px;
		position : relative;	
		.side-con-btn{
			position : absolute;
			bottom: 85px;
			left: 20px;
		}		
	}
	
	/*/////////// side-sample ////////////*/
	.side-sample{
		margin-top: -17px;
		position : relative;
		.side-sample-text{
			position: absolute;
			top: 125px;
			left: 45px;
			ul{
				padding: 0px;
				margin: 0;
				list-style: none;
				li{
					display: block;	
					line-height: 2em;
					.side-sclr{	
						color: $main_color;
					}
				}
				li:first-child{
					line-height: 1.8em;
				}
			}
		}
		.side-sample-btn{
			position : absolute;
			bottom: 30px;
			left: 20px;
		}		
	}	
	
	/*/////////// side-work ////////////*/
	.side-work{
		margin-top: -8px;
	}
	
	/*/////////// side-staff ////////////*/
	.side-staff{
		margin-top: -10px;
	}
	
	/*/////////// side-factory ////////////*/
	.side-factory{
		margin-top: -10px;
	}
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
	
	.form-submit {	
		margin-top: 20px;
		background-color: #f0f0f0;
		padding: 10px 0;
		text-align: center;		
		.estimate-btn{
			background: transparent url("../img/content/estimate_content_btn.jpg") no-repeat 0 0 scroll;						
			width: 210px;
			height: 50px;
			border: none;
			text-indent: -9999px;			
		}		
	}	
	
	.formcontact-submit {	
		margin-top: 20px;
		background-color: #f0f0f0;
		padding: 10px 0;
		text-align: center;		
		.contact-btn{
			background: transparent url("../img/content/estimate_content_btn.jpg") no-repeat 0 0 scroll;						
			width: 210px;
			height: 50px;
			border: none;
			text-indent: -9999px;			
		}		
	}
	
}


footer{	
	.footer-content{		
		background : #f0f0f0;
		padding: 20px 0;
		.footer-col1{
			float: left;
			width: 270px;
		}		
		.footer-col2{
			float: left;
			width: 240px;
			margin-left: 35px;
		}	
		.footer-col3{
			float: left;
			width: 440px;
			margin-left: 110px;
			padding: 20px;
			background-color: $sub_color2;
			ul{				
				list-style: none;			
				margin : 0;
				float: left;
				padding-left: 30px;
				li{						
					a{
						display: block;
						line-height: 2em;
					}
					a:hover{
						color: $main_color;
					}
					a:active{
						color: $main_color;
					}
				}				
			}
			ul:first-child{
				padding-left: 0;
			}
		}		
	}
	.footer-copyright{
		background-color: $main_color;
		text-align: center;
		line-height: 50px;
		color: $sub_color2;
	}
}