@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{				
		line-height: 30px;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
		color: $main_color;
		font: {
			size: 16px;
			weight: bold;
		}
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
		a:hover{
			color: $main_color;
		}
	}
}

#part-blog{
	.part-blog-content{		
		padding: 10px 15px;	
		.item{
			border-top : 1px dotted $border_color;
			.date{
				color : #2369ae;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.date,.title{
				line-height: 40px;
			}
		}
		.item:first-child{
			border-top : none;
		}
	}
}

/* page content */
#content{
	
	/* top */
	
	.top-content-info1{		
		position : relative;	
		.top-info1-btn{
			position : absolute;
			bottom: 45px;
			left: 25px;
		}		
	}/*top-content-info1*/
	
	
	.top-content-info2{		
		position : relative;	
		.top-info2-title{
			position : absolute;
			top: 25px;
			left: 25px;
			font-size: 16px;
			color: $sub_color2;
		}		
		.top-info2-text1{
			position: absolute;
			top: 60px;
			left: 5px;
			color: #ff7800;			
			line-height: 1.2em;
			font :{
				size: 30px;
				weight: bold;
			}
		}
		.top-info2-ltext2{
			position: absolute;
			top: 144px;
			left: 60px;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					display: block;
					line-height: 54px;
					color: #3c3c3c;
					margin-bottom: 5px;
					font:{
						size: 20px;
						weight: bold;
					}
					.side-tclr{	
						background : transparent url('../img/content/top_info2_bgtext.png') repeat-x 0 0 scroll;	
						line-height: 30px;
						padding: 0 5px;
						color: #fff;
						font: {
							size: 24px;
							weight: bold;
						}
					}
				}
				li:last-child{
					margin-top: 9px;
				}
			}
		}		
	}/*top-content-info2*/
	
	.top-text1{
		text-align: center;
		background-color: $main_color;	
		height: 90px;	
		line-height: 2.5em;
		color: $sub_color2;
		padding-top: 15px;
		.text1-font1{
			font:{
				size: 30px;
				weight: bold;
			}
		}
		.text1-font2{
			font:{
				size: 22px;
				weight: bold;
			}
		}
	}
	.top-text2{
		border: 4px solid $main_color;
		color: #3c3c3c;
		text-align: center;
		padding: 20px 0;
		line-height: 2.8em;
		.text2-font1{
			font:{
				size: 30px;
				weight: bold;
			}
		}
		.text2-font2{
			font: {
					size: 40px;
					weight: bold;
			}
			.top-text2-clr{
				color: #ff7800;				
			}
		}		
	}
	
	.top-content-info3{
		border-top: 1px dotted #c8c8c8;		
		.top-info3-title{
			padding-top: 20px;
			.top-info3-title1{
				float: left;
				border: 3px solid #3c3c3c;
				background-color: #f7f7f7;
				padding: 10px 30px;
				color: #3c3c3c;
				font-size: 26px;
				margin-right: 10px;
			}			
			.top-info3-title2{
				padding-top: 13px;
				color: #ff7800;
				font-size: 22px;
			}
		}
		.top-info3-text{
			padding: 15px 0 25px;
		}
	}
		
	.top-content-info4{				
		background : transparent url('../img/common/main_content_bg.jpg') repeat 0 0 scroll;	
		padding: 10px;
		.top-info4{			
			padding: 10px;
			background-color: $sub_color2;
			.image{ 
				width : 240px; 
				float : left;
			}
			.text{
				width : 470px;
				margin-left: 10px;
				float : left;
				.top-info4-title{
					background-color: #3c3c3c;
					font-size: 20px;
					line-height: 32px;
					color: $sub_color2;
					padding-left: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}/*top-content-info4*/
	
	.top-content-info5{		
		position : relative;	
		.top-info5-movie{
			position : absolute;
			top: 20px;
			right: 20px;			
		}		
		.top-info5-text{
			position: absolute;
			top: 110px;
			left: 20px;
			font-size: 18px;
			color: $sub_color2;
			line-height: 1.8em;
			.info5-icon{
				font-size: 22px;
			}
		}
	}/*top-content-info5*/
	
	.top-content-info6{		
		margin-top: -10px;
		position : relative;	
		.top-info6-btn{
			position : absolute;
			bottom: 32px;
			right: 95px;			
		}		
	}/*top-content-info6*/
	
	.top-content-info7{		
		margin-top: -10px;
		position : relative;	
		.top-info7-btn{
			position : absolute;
			bottom: 30px;
			right: 30px;			
		}		
	}/*top-content-info6*/
	
}

/*/////////// page-faq ////////////*/
.faq-content-row{	
	.question-bg{
		background : transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;				
		line-height: 40px;		
		padding-left: 55px;		
		font:{
			size: 18px;
			weight: bold;
		}			
	}
	.answer-bg{		
		padding-top: 10px;
		.answer{				
			background : transparent url("../img/content/faq_content_answer.jpg") no-repeat 0 0 scroll;									
			padding-left: 55px;		
		}
	}
}

/*/////////// page-staff ////////////*/
.staff-info{
	tr th, td{
		border: 1px solid #a0a0a0 !important;
	}
	tr th{
		font-weight: normal;
		background-color: #f0f0f0;
		width: 150px;
	}
}

/*/////////// page-flow ////////////*/
.flow-content-bg{				
	background : transparent url('../img/common/main_content_bg.jpg') repeat 0 0 scroll;	
	padding: 10px;
	.flow-content{			
		padding: 10px;
		background-color: $sub_color2;
		.flow-step{ 
			text-align: center;
			background-color: $main_color;
			float : left;
		}
		.flow-info{		
			width: 610px;
			margin-left: 10px;
			float : left;
			.flow-title{
				background-color: #3c3c3c;
				font-size: 20px;
				line-height: 32px;
				color: $sub_color2;
				padding-left: 10px;
				margin-bottom: 10px;
			}
			.flow-tel{
				text-align: center;
				padding-top: 20px;
			}
			.flow-btn{
				background-color: #f0f0f0;
				width: 520px;
				padding: 10px 0;
				margin: 12px 0 0 55px;
				text-align: center;				
			}
			.flow-img{ 
				width : 240px; 
				float : right;
			}
			.flow-text{
				width : 350px;
				margin-right: 20px;
				float : left;
			}
		}
	}
}/*./top-content-bg*/

.flow-arrow {
	margin: 10px 0;
	text-align: center;
}/*./flow-arrow*/


/*/////////// page-facility ////////////*/
.facility-content-table{
	tr th, td{
		border: 1px solid #a0a0a0;
	}
	tr th{
		background-color: #f0f0f0;
	}	
	.facility-price{
		width: 90px;
		text-align: center;
	}
}

.facility-btn{
	background-color: #f0f0f0;
	padding: 10px 0;
	text-align: center;
}


/*/////////// page-factory ////////////*/
.factory-listimg{
	padding-top: 10px;
	.factory-listimg-left{
		float: left;		
		width: 440px;
	}
	.factory-listimg-right{
		width: 310px;
		float: left;
		margin-left: 10px;
	}
}

.factory-movie{
	.factory-movie-left{
		float: left;		
		width: 325px;
	}
	.factory-movie-right{
		width: 425px;
		float: left;
		margin-left: 10px;
	}
}

/*/////////// page-reason ////////////*/
.reason-content-info1{
	position: relative;
	.reason-info1-text{
		position: absolute; 
		top: 115px;
		left: 0px;
	}
}

.reason-title-bg{
	position: relative;	
	.reason-title{
		top: 0px;
		position: absolute;
		line-height : 58px;
		padding-left : 115px;				
		font :{
			size: 22px;
			weight: bold;	
		}
		.reason-title-clr{
			color: #ff7800;
		}
	}
}
.reason-space{
	margin-top: -3px;
}

/*/////////// page-sample ////////////*/
.sample-content-info1{				
	background : $main_color url('../img/content/sample_content_bg.jpg') repeat-x 0 0 scroll;
	height: 100px;
	padding: 20px;	
	font-size: 24px;
	color: $sub_color2;	
	line-height: 1.3em;
	
}

.sample-content-info2-bg{	
	margin-top: 10px;
	background : transparent url('../img/common/main_content_bg.jpg') repeat 0 0 scroll;	
	padding: 10px;
	position: relative;
	.sample-content-info2{			
		padding: 10px;
		background-color: $sub_color2;
		.sample-info2-text{			
			background-color: $sub_color2;
			float: left;		
			width: 435px;
			.sample-info2-title{
				line-height: 50px;
				font-size: 15px;
				color: #008cdc;
				padding-left: 10px;
				background-color: #dcf0ff;
				@include border_radius(3px);
				margin-bottom: 10px;
			}
			.sample-space{
				margin-top: 22px;
			}
		}
		.sample-info2-img{	
			position: absolute;
			width: 308px;
			right: 0px;
			top: -10px;
		}
	}			
}

.sample-content-info3{			
	position : relative;	
	.sample-info3-btn{
		position : absolute;
		bottom: 30px;
		right: 30px;			
	}		
}

/*/////////// process-product ////////////*/
.process-row{
	margin-top: 20px;
	.process-product{
		width: 220px;
		float: left;
		border: 1px solid #c8c8c8;
		padding: 10px 10px 17px 10px;
		.process-ptitle{
			text-align: center;
			border-bottom: 2px solid $main_color;
			padding-bottom: 8px;
			margin-bottom: 5px;
			font-size: 14px;
		}	
	}

	.process-product-arrow{
		text-align: center;
		float: left;
		padding: 103px 14px;
		
	}
	.process-height{
		height: 252px;
	}
}
.process-row:first-child{
	margin-top: 0;
}

/*/////////// benefit-laser ////////////*/
.benefit-laser-bg{
	margin-bottom: 10px;
	position: relative;	
	.benefit-ltitle{
		top: 7px;
		position: absolute;
		line-height : 61px;
		padding-left : 90px;				
		font-size: 18px;
		.reason-title-clr{
			color: #ff7800;
		}
	}
}
.benefit-laser-bg:last-child{
	margin-bottom: 0;
}

/*----- page-laser -----*/
.laser-text{
	height: 120px;
	background-color: $main_color;
	text-align: center;
	color: $sub_color2;
	font-size: 24px;
	padding: 30px 0;
	line-height: 1.5em;
}

/*-----page-blog----*/
.post-row-content{	
	.blog-btnrm{
		float: right;		
		padding: 3px 8px;
		@include border_radius(5px);
		background-color: $main_color;
		a{
			color: $sub_color2;
		}
		a:hover{
			opacity: 0.5;
		}
	}
	.post-row-meta{
		.fa{
			padding: 0 5px 0 20px;
		}
		.fa:first-child{
			padding-right: 5px;
			padding-left: 0;
		}
	}
	.blog-content{
		margin-top: 20px;
	}
}

/*-----page-estimate----*/
.estimate-title{	
	line-height: 48px;
	background-color: $main_color;
	color: $sub_color2;
	padding-left: 20px;
	font:{
		size: 24px;
		weight: bold;
	}
}
.estimate-content-table{
	tr th, td{
		border: 1px solid #04325b;			
	}
	tr th{		
		width: 200px;
		background-color: #f0f0f0;
		font: {
			size: 18px !important;
			weight: bold;
		}
	}
	
	tr td{		
		font: {
			size: 14px !important;
			weight: bold;
		}
	}	
}
	
	
/*-----page-work----*/
.work-detail-content{		
	position: relative;		
	border: 1px solid #c8c8c8;
	.bx-wrapper{
		margin : 0px auto;
	}	
	.bx-viewport{
		left : 0;
		border : none !important;
		box-shadow : none !important;
		margin-left: 5px !important;
		.bxslider{
			img{
				margin: 30px 0 30px 115px;
			}
		}
	}
	.bx-pager{
		display : none;  
	}
	.bx-pagers{
		padding: 10px 0 10px -5px;
		background-color: #f0f0f0;
	}

	#bx-pager{				
		padding: 10px 155px 0 155px;
		background-color: #f0f0f0;
		height: 92px;		
		text-align: center;
		ul{			
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				padding-right: 20px;
				float: left;
				a img{			
					width: 96px;			
					height: auto;					
				}
			}
			li:last-child{
				padding-right: 0;
			}
		}
	}
	
	.bx-controls-direction .bx-prev{
		position: absolute;			
		left : 45px;
	}
	.bx-controls-direction .bx-next{
		position: absolute;			
		right : 45px;			
	}	
}


.work-detail-bg{	
		margin-top: 20px;
		background-color: #f0f0f0;
		padding: 10px 0;
		text-align: center;		
		.work-detail-btn{
			padding-left: 215px;
			a{
				background: transparent url("../img/content/work_detail_btn.jpg") no-repeat 0 0 scroll;						
				height: 50px;
				width: 360px;
				display: block;
				text-indent: -9999px;			
			}		
		}
}	

.wp-pagenavi{
	margin-top: 40px;
	text-align: center;
	.pages{
		background-color: $main_color;
		color: #fff;
	}
	.previouspostslink{
		@extend .pages;
	}
	.page{
		@extend .pages;
	}
	.nextpostslink{
		@extend .pages;
	}	
	span.current {
		border-color: $main_color !important;
	}
}

.work-detail-textarea{
	padding: 20px 0;
}

.work-detail-text{
	.work-detail-ttitle1{		
		background-color: #3c3c3c;
		padding: 8px 11px;
		color: $sub_color2;
	}
	.work-detail-ttitle2{
		margin-left: 30px;		
		@extend .work-detail-ttitle1;
	}
}

/*-----page-contact----*/
.contact-form{
	tr th, td{
		border: 1px solid #04325b;			
	}
	tr th{		
		width: 200px;
		background-color: #f0f0f0;
		font: {
			size: 18px !important;
			weight: bold;
		}
	}
	
	tr td{		
		font: {
			size: 14px !important;
			weight: bold;
		}
	}	
}