@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #008cdc;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #43bbff; }

a:link {
  color: #3c3c3c; }

a:visited {
  color: #3c3c3c; }

a:hover {
  color: #3c3c3c; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #3c3c3c;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
.wrapper-header {
  width: 1100px;
  margin: 0px auto; }

.wrapper {
  width: 1100px;
  margin: 0px auto;
  background-color: white;
  padding: 30px 20px 70px 20px; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 20px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/* LAYOUT */
#top {
  background: #008cdc;
  line-height: 24px;
  color: #fff; }
  #top a {
    color: #fff; }
  #top .top-text {
    line-height: 24px;
    font-size: 13px;
    float: left; }
  #top .top-links {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    #top .top-links li {
      display: inline-block;
      padding: 0px 15px; }
      #top .top-links li .fa {
        padding-right: 5px;
        font-size: 10px; }
      #top .top-links li a {
        font-size: 13px; }
    #top .top-links li:last-child {
      padding: 0 0 0 15px; }

header {
  background: white;
  padding: 23px 0; }
  header .header-content .logo {
    float: left;
    width: 270px; }
  header .header-content .header-tel {
    padding-left: 75px;
    float: left;
    width: 440px; }
  header .header-content .header-fax {
    padding-left: 25px;
    float: left;
    width: 366px; }

nav {
  background: white url("../img/common/header_navi_bg.jpg") repeat-x 0 0 scroll; }
  nav #gNavi ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav #gNavi ul li {
      float: left;
      position: relative; }
      nav #gNavi ul li a {
        display: block;
        text-align: center;
        line-height: 66px;
        color: #fff; }
    nav #gNavi ul li.current > a {
      background: #434343; }
    nav #gNavi ul li.current ul {
      display: block; }
    nav #gNavi ul li:last-child {
      width: 140px !important; }

#slider {
  background: white url("../img/common/header_slider_bg.png") repeat-x 0 bottom scroll; }
  #slider .bx-wrapper {
    margin: 0; }
    #slider .bx-wrapper .bx-viewport {
      left: 0;
      border: none;
      box-shadow: none; }
    #slider .bx-wrapper .bx-prev {
      left: -15px; }
    #slider .bx-wrapper .bx-next {
      right: -15px; }

#content {
  background-color: #646464;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /* sideNavi */
  /*/////////// side-con ////////////*/
  /*/////////// side-sample ////////////*/
  /*/////////// side-work ////////////*/
  /*/////////// side-staff ////////////*/
  /*/////////// side-factory ////////////*/ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-220 .image {
    width: 220px; }
  #content .message-220 .text {
    width: 520px; }
  #content .message-reason375 {
    padding-top: 12px; }
    #content .message-reason375 .image {
      width: 375px; }
    #content .message-reason375 .text {
      padding-top: 10px;
      width: 365px; }
  #content .message-375 .image {
    width: 375px; }
  #content .message-375 .text {
    width: 365px; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col375 .message-col {
    width: 375px;
    margin-left: 10px; }
  #content .message-group.message-col375 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col375 .message-col {
    width: 375px;
    margin-left: 10px; }
  #content .message-group.message-col375 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-work375 .message-col {
    padding: 2px;
    border: 1px solid #c8c8c8;
    width: 375px;
    margin-left: 10px;
    background-color: #f0f0f0; }
    #content .message-group.message-work375 .message-col .work-title {
      background-color: #008cdc;
      line-height: 37px;
      font-size: 16px;
      padding-left: 17px; }
      #content .message-group.message-work375 .message-col .work-title a {
        color: white; }
    #content .message-group.message-work375 .message-col .work-img {
      padding: 10px 17px 0 17px; }
    #content .message-group.message-work375 .message-col .work-text {
      padding: 10px 0 17px 17px; }
  #content .message-group.message-work375 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col .title {
    color: #008cdc;
    font-size: 16px;
    line-height: 30px; }
  #content .message-classic .message-col .image img {
    max-width: 100%;
    height: auto; }
  #content .message-classic .message-col .text {
    margin-top: 7px;
    line-height: 1.5em; }
  #content .page-feature-content {
    position: relative; }
    #content .page-feature-content .feature-title {
      position: absolute;
      width: 260px;
      text-align: center;
      top: 100px;
      left: 40px;
      font-size: 34px;
      font-weight: bold; }
  #content .top-breadcrumb {
    margin: 10px 0 30px; }
    #content .top-breadcrumb .home {
      color: #008cdc;
      text-decoration: underline; }
  #content .h2-title {
    line-height: 40px;
    padding-left: 30px;
    background: white url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    margin-bottom: 10px;
    font-size: 16px;
    color: white; }
  #content .h3-title {
    line-height: 30px;
    padding-left: 17px;
    background: white url("../img/common/h3_title.jpg") no-repeat 0 0 scroll;
    margin-bottom: 10px;
    font-size: 16px; }
  #content #sideNavi {
    border: 1px solid #008cdc; }
    #content #sideNavi .sideNavi-content {
      border: 3px solid #dcf0ff;
      padding: 6px;
      list-style: none;
      margin: 0; }
      #content #sideNavi .sideNavi-content li {
        border-top: 1px dotted #c8c8c8; }
        #content #sideNavi .sideNavi-content li a {
          display: block;
          line-height: 30px;
          padding-left: 30px;
          background: white url("../img/common/side_navi_icon.png") no-repeat 0 center scroll; }
        #content #sideNavi .sideNavi-content li a:hover {
          color: #008cdc; }
        #content #sideNavi .sideNavi-content li a:active {
          color: #008cdc; }
      #content #sideNavi .sideNavi-content li:last-child {
        border-bottom: 1px dotted #c8c8c8; }
  #content .side-con {
    margin-top: -15px;
    position: relative; }
    #content .side-con .side-con-btn {
      position: absolute;
      bottom: 85px;
      left: 20px; }
  #content .side-sample {
    margin-top: -17px;
    position: relative; }
    #content .side-sample .side-sample-text {
      position: absolute;
      top: 125px;
      left: 45px; }
      #content .side-sample .side-sample-text ul {
        padding: 0px;
        margin: 0;
        list-style: none; }
        #content .side-sample .side-sample-text ul li {
          display: block;
          line-height: 2em; }
          #content .side-sample .side-sample-text ul li .side-sclr {
            color: #008cdc; }
        #content .side-sample .side-sample-text ul li:first-child {
          line-height: 1.8em; }
    #content .side-sample .side-sample-btn {
      position: absolute;
      bottom: 30px;
      left: 20px; }
  #content .side-work {
    margin-top: -8px; }
  #content .side-staff {
    margin-top: -10px; }
  #content .side-factory {
    margin-top: -10px; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }
.wpcf7 .form-submit {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center; }
  .wpcf7 .form-submit .estimate-btn {
    background: transparent url("../img/content/estimate_content_btn.jpg") no-repeat 0 0 scroll;
    width: 210px;
    height: 50px;
    border: none;
    text-indent: -9999px; }
.wpcf7 .formcontact-submit {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center; }
  .wpcf7 .formcontact-submit .contact-btn {
    background: transparent url("../img/content/estimate_content_btn.jpg") no-repeat 0 0 scroll;
    width: 210px;
    height: 50px;
    border: none;
    text-indent: -9999px; }

footer .footer-content {
  background: #f0f0f0;
  padding: 20px 0; }
  footer .footer-content .footer-col1 {
    float: left;
    width: 270px; }
  footer .footer-content .footer-col2 {
    float: left;
    width: 240px;
    margin-left: 35px; }
  footer .footer-content .footer-col3 {
    float: left;
    width: 440px;
    margin-left: 110px;
    padding: 20px;
    background-color: white; }
    footer .footer-content .footer-col3 ul {
      list-style: none;
      margin: 0;
      float: left;
      padding-left: 30px; }
      footer .footer-content .footer-col3 ul li a {
        display: block;
        line-height: 2em; }
      footer .footer-content .footer-col3 ul li a:hover {
        color: #008cdc; }
      footer .footer-content .footer-col3 ul li a:active {
        color: #008cdc; }
    footer .footer-content .footer-col3 ul:first-child {
      padding-left: 0; }
footer .footer-copyright {
  background-color: #008cdc;
  text-align: center;
  line-height: 50px;
  color: white; }

/* part */
.sideBlog .sideBlog-title {
  line-height: 30px;
  border-bottom: 2px solid #008cdc;
  margin-bottom: 10px;
  color: #008cdc;
  font-size: 16px;
  font-weight: bold; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }
  .sideBlog ul a:hover {
    color: #008cdc; }

#part-blog .part-blog-content {
  padding: 10px 15px; }
  #part-blog .part-blog-content .item {
    border-top: 1px dotted #008cdc; }
    #part-blog .part-blog-content .item .date {
      color: #2369ae;
      font-weight: bold;
      float: left;
      width: 100px; }
    #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
      line-height: 40px; }
  #part-blog .part-blog-content .item:first-child {
    border-top: none; }

/* page content */
#content {
  /* top */
  /*top-content-info1*/
  /*top-content-info2*/
  /*top-content-info4*/
  /*top-content-info5*/
  /*top-content-info6*/
  /*top-content-info6*/ }
  #content .top-content-info1 {
    position: relative; }
    #content .top-content-info1 .top-info1-btn {
      position: absolute;
      bottom: 45px;
      left: 25px; }
  #content .top-content-info2 {
    position: relative; }
    #content .top-content-info2 .top-info2-title {
      position: absolute;
      top: 25px;
      left: 25px;
      font-size: 16px;
      color: white; }
    #content .top-content-info2 .top-info2-text1 {
      position: absolute;
      top: 60px;
      left: 5px;
      color: #ff7800;
      line-height: 1.2em;
      font-size: 30px;
      font-weight: bold; }
    #content .top-content-info2 .top-info2-ltext2 {
      position: absolute;
      top: 144px;
      left: 60px; }
      #content .top-content-info2 .top-info2-ltext2 ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #content .top-content-info2 .top-info2-ltext2 ul li {
          display: block;
          line-height: 54px;
          color: #3c3c3c;
          margin-bottom: 5px;
          font-size: 20px;
          font-weight: bold; }
          #content .top-content-info2 .top-info2-ltext2 ul li .side-tclr {
            background: transparent url("../img/content/top_info2_bgtext.png") repeat-x 0 0 scroll;
            line-height: 30px;
            padding: 0 5px;
            color: #fff;
            font-size: 24px;
            font-weight: bold; }
        #content .top-content-info2 .top-info2-ltext2 ul li:last-child {
          margin-top: 9px; }
  #content .top-text1 {
    text-align: center;
    background-color: #008cdc;
    height: 90px;
    line-height: 2.5em;
    color: white;
    padding-top: 15px; }
    #content .top-text1 .text1-font1 {
      font-size: 30px;
      font-weight: bold; }
    #content .top-text1 .text1-font2 {
      font-size: 22px;
      font-weight: bold; }
  #content .top-text2 {
    border: 4px solid #008cdc;
    color: #3c3c3c;
    text-align: center;
    padding: 20px 0;
    line-height: 2.8em; }
    #content .top-text2 .text2-font1 {
      font-size: 30px;
      font-weight: bold; }
    #content .top-text2 .text2-font2 {
      font-size: 40px;
      font-weight: bold; }
      #content .top-text2 .text2-font2 .top-text2-clr {
        color: #ff7800; }
  #content .top-content-info3 {
    border-top: 1px dotted #c8c8c8; }
    #content .top-content-info3 .top-info3-title {
      padding-top: 20px; }
      #content .top-content-info3 .top-info3-title .top-info3-title1 {
        float: left;
        border: 3px solid #3c3c3c;
        background-color: #f7f7f7;
        padding: 10px 30px;
        color: #3c3c3c;
        font-size: 26px;
        margin-right: 10px; }
      #content .top-content-info3 .top-info3-title .top-info3-title2 {
        padding-top: 13px;
        color: #ff7800;
        font-size: 22px; }
    #content .top-content-info3 .top-info3-text {
      padding: 15px 0 25px; }
  #content .top-content-info4 {
    background: transparent url("../img/common/main_content_bg.jpg") repeat 0 0 scroll;
    padding: 10px; }
    #content .top-content-info4 .top-info4 {
      padding: 10px;
      background-color: white; }
      #content .top-content-info4 .top-info4 .image {
        width: 240px;
        float: left; }
      #content .top-content-info4 .top-info4 .text {
        width: 470px;
        margin-left: 10px;
        float: left; }
        #content .top-content-info4 .top-info4 .text .top-info4-title {
          background-color: #3c3c3c;
          font-size: 20px;
          line-height: 32px;
          color: white;
          padding-left: 10px;
          margin-bottom: 10px; }
  #content .top-content-info5 {
    position: relative; }
    #content .top-content-info5 .top-info5-movie {
      position: absolute;
      top: 20px;
      right: 20px; }
    #content .top-content-info5 .top-info5-text {
      position: absolute;
      top: 110px;
      left: 20px;
      font-size: 18px;
      color: white;
      line-height: 1.8em; }
      #content .top-content-info5 .top-info5-text .info5-icon {
        font-size: 22px; }
  #content .top-content-info6 {
    margin-top: -10px;
    position: relative; }
    #content .top-content-info6 .top-info6-btn {
      position: absolute;
      bottom: 32px;
      right: 95px; }
  #content .top-content-info7 {
    margin-top: -10px;
    position: relative; }
    #content .top-content-info7 .top-info7-btn {
      position: absolute;
      bottom: 30px;
      right: 30px; }

/*/////////// page-faq ////////////*/
.faq-content-row .question-bg {
  background: transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;
  line-height: 40px;
  padding-left: 55px;
  font-size: 18px;
  font-weight: bold; }
.faq-content-row .answer-bg {
  padding-top: 10px; }
  .faq-content-row .answer-bg .answer {
    background: transparent url("../img/content/faq_content_answer.jpg") no-repeat 0 0 scroll;
    padding-left: 55px; }

/*/////////// page-staff ////////////*/
.staff-info tr th, .staff-info td {
  border: 1px solid #a0a0a0 !important; }
.staff-info tr th {
  font-weight: normal;
  background-color: #f0f0f0;
  width: 150px; }

/*/////////// page-flow ////////////*/
.flow-content-bg {
  background: transparent url("../img/common/main_content_bg.jpg") repeat 0 0 scroll;
  padding: 10px; }
  .flow-content-bg .flow-content {
    padding: 10px;
    background-color: white; }
    .flow-content-bg .flow-content .flow-step {
      text-align: center;
      background-color: #008cdc;
      float: left; }
    .flow-content-bg .flow-content .flow-info {
      width: 610px;
      margin-left: 10px;
      float: left; }
      .flow-content-bg .flow-content .flow-info .flow-title {
        background-color: #3c3c3c;
        font-size: 20px;
        line-height: 32px;
        color: white;
        padding-left: 10px;
        margin-bottom: 10px; }
      .flow-content-bg .flow-content .flow-info .flow-tel {
        text-align: center;
        padding-top: 20px; }
      .flow-content-bg .flow-content .flow-info .flow-btn {
        background-color: #f0f0f0;
        width: 520px;
        padding: 10px 0;
        margin: 12px 0 0 55px;
        text-align: center; }
      .flow-content-bg .flow-content .flow-info .flow-img {
        width: 240px;
        float: right; }
      .flow-content-bg .flow-content .flow-info .flow-text {
        width: 350px;
        margin-right: 20px;
        float: left; }

/*./top-content-bg*/
.flow-arrow {
  margin: 10px 0;
  text-align: center; }

/*./flow-arrow*/
/*/////////// page-facility ////////////*/
.facility-content-table tr th, .facility-content-table td {
  border: 1px solid #a0a0a0; }
.facility-content-table tr th {
  background-color: #f0f0f0; }
.facility-content-table .facility-price {
  width: 90px;
  text-align: center; }

.facility-btn {
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center; }

/*/////////// page-factory ////////////*/
.factory-listimg {
  padding-top: 10px; }
  .factory-listimg .factory-listimg-left {
    float: left;
    width: 440px; }
  .factory-listimg .factory-listimg-right {
    width: 310px;
    float: left;
    margin-left: 10px; }

.factory-movie .factory-movie-left {
  float: left;
  width: 325px; }
.factory-movie .factory-movie-right {
  width: 425px;
  float: left;
  margin-left: 10px; }

/*/////////// page-reason ////////////*/
.reason-content-info1 {
  position: relative; }
  .reason-content-info1 .reason-info1-text {
    position: absolute;
    top: 115px;
    left: 0px; }

.reason-title-bg {
  position: relative; }
  .reason-title-bg .reason-title {
    top: 0px;
    position: absolute;
    line-height: 58px;
    padding-left: 115px;
    font-size: 22px;
    font-weight: bold; }
    .reason-title-bg .reason-title .reason-title-clr {
      color: #ff7800; }

.reason-space {
  margin-top: -3px; }

/*/////////// page-sample ////////////*/
.sample-content-info1 {
  background: #008cdc url("../img/content/sample_content_bg.jpg") repeat-x 0 0 scroll;
  height: 100px;
  padding: 20px;
  font-size: 24px;
  color: white;
  line-height: 1.3em; }

.sample-content-info2-bg {
  margin-top: 10px;
  background: transparent url("../img/common/main_content_bg.jpg") repeat 0 0 scroll;
  padding: 10px;
  position: relative; }
  .sample-content-info2-bg .sample-content-info2 {
    padding: 10px;
    background-color: white; }
    .sample-content-info2-bg .sample-content-info2 .sample-info2-text {
      background-color: white;
      float: left;
      width: 435px; }
      .sample-content-info2-bg .sample-content-info2 .sample-info2-text .sample-info2-title {
        line-height: 50px;
        font-size: 15px;
        color: #008cdc;
        padding-left: 10px;
        background-color: #dcf0ff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px; }
      .sample-content-info2-bg .sample-content-info2 .sample-info2-text .sample-space {
        margin-top: 22px; }
    .sample-content-info2-bg .sample-content-info2 .sample-info2-img {
      position: absolute;
      width: 308px;
      right: 0px;
      top: -10px; }

.sample-content-info3 {
  position: relative; }
  .sample-content-info3 .sample-info3-btn {
    position: absolute;
    bottom: 30px;
    right: 30px; }

/*/////////// process-product ////////////*/
.process-row {
  margin-top: 20px; }
  .process-row .process-product {
    width: 220px;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 10px 10px 17px 10px; }
    .process-row .process-product .process-ptitle {
      text-align: center;
      border-bottom: 2px solid #008cdc;
      padding-bottom: 8px;
      margin-bottom: 5px;
      font-size: 14px; }
  .process-row .process-product-arrow {
    text-align: center;
    float: left;
    padding: 103px 14px; }
  .process-row .process-height {
    height: 252px; }

.process-row:first-child {
  margin-top: 0; }

/*/////////// benefit-laser ////////////*/
.benefit-laser-bg {
  margin-bottom: 10px;
  position: relative; }
  .benefit-laser-bg .benefit-ltitle {
    top: 7px;
    position: absolute;
    line-height: 61px;
    padding-left: 90px;
    font-size: 18px; }
    .benefit-laser-bg .benefit-ltitle .reason-title-clr {
      color: #ff7800; }

.benefit-laser-bg:last-child {
  margin-bottom: 0; }

/*----- page-laser -----*/
.laser-text {
  height: 120px;
  background-color: #008cdc;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 30px 0;
  line-height: 1.5em; }

/*-----page-blog----*/
.post-row-content .blog-btnrm {
  float: right;
  padding: 3px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #008cdc; }
  .post-row-content .blog-btnrm a {
    color: white; }
  .post-row-content .blog-btnrm a:hover {
    opacity: 0.5; }
.post-row-content .post-row-meta .fa {
  padding: 0 5px 0 20px; }
.post-row-content .post-row-meta .fa:first-child {
  padding-right: 5px;
  padding-left: 0; }
.post-row-content .blog-content {
  margin-top: 20px; }

/*-----page-estimate----*/
.estimate-title {
  line-height: 48px;
  background-color: #008cdc;
  color: white;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold; }

.estimate-content-table tr th, .estimate-content-table td {
  border: 1px solid #04325b; }
.estimate-content-table tr th {
  width: 200px;
  background-color: #f0f0f0;
  font-size: 18px !important;
  font-weight: bold; }
.estimate-content-table tr td {
  font-size: 14px !important;
  font-weight: bold; }

/*-----page-work----*/
.work-detail-content {
  position: relative;
  border: 1px solid #c8c8c8; }
  .work-detail-content .bx-wrapper {
    margin: 0px auto; }
  .work-detail-content .bx-viewport {
    left: 0;
    border: none !important;
    box-shadow: none !important;
    margin-left: 5px !important; }
    .work-detail-content .bx-viewport .bxslider img {
      margin: 30px 0 30px 115px; }
  .work-detail-content .bx-pager {
    display: none; }
  .work-detail-content .bx-pagers {
    padding: 10px 0 10px -5px;
    background-color: #f0f0f0; }
  .work-detail-content #bx-pager {
    padding: 10px 155px 0 155px;
    background-color: #f0f0f0;
    height: 92px;
    text-align: center; }
    .work-detail-content #bx-pager ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .work-detail-content #bx-pager ul li {
        padding-right: 20px;
        float: left; }
        .work-detail-content #bx-pager ul li a img {
          width: 96px;
          height: auto; }
      .work-detail-content #bx-pager ul li:last-child {
        padding-right: 0; }
  .work-detail-content .bx-controls-direction .bx-prev {
    position: absolute;
    left: 45px; }
  .work-detail-content .bx-controls-direction .bx-next {
    position: absolute;
    right: 45px; }

.work-detail-bg {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center; }
  .work-detail-bg .work-detail-btn {
    padding-left: 215px; }
    .work-detail-bg .work-detail-btn a {
      background: transparent url("../img/content/work_detail_btn.jpg") no-repeat 0 0 scroll;
      height: 50px;
      width: 360px;
      display: block;
      text-indent: -9999px; }

.wp-pagenavi {
  margin-top: 40px;
  text-align: center; }
  .wp-pagenavi .pages, .wp-pagenavi .previouspostslink, .wp-pagenavi .page, .wp-pagenavi .nextpostslink {
    background-color: #008cdc;
    color: #fff; }
  .wp-pagenavi span.current {
    border-color: #008cdc !important; }

.work-detail-textarea {
  padding: 20px 0; }

.work-detail-text .work-detail-ttitle1, .work-detail-text .work-detail-ttitle2 {
  background-color: #3c3c3c;
  padding: 8px 11px;
  color: white; }
.work-detail-text .work-detail-ttitle2 {
  margin-left: 30px; }

/*-----page-contact----*/
.contact-form tr th, .contact-form td {
  border: 1px solid #04325b; }
.contact-form tr th {
  width: 200px;
  background-color: #f0f0f0;
  font-size: 18px !important;
  font-weight: bold; }
.contact-form tr td {
  font-size: 14px !important;
  font-weight: bold; }
